
# My local setup
.vscode
# .flake8  # linter settings :)

# Data & output files
/data
/output
/materials

/old
/notebooks/deprecated

# Python temp files
**.ipynb_checkpoints
*.pyc
__pycache__

# setuptools files
/*.egg-info
/build
/dist

# Latex output
/latex/output